{% extends 'core/base_login.html' %} {% load static %} {% block title %}Listado de Pacientes{% endblock %} {% block content %}

<div class="panel panel-primary">
    <div class="panel-heading1 col-xl-12 col-lg-12 mx-auto">
        <a href="{% url 'catalog:paciente_new' %}" class="btn btn-primary mr-3 btn-sm small"><span class="fa fa-plus-circle"></span> Nueva</a>
        <a href="{% url 'home' %} " class="text-center btn btn-primary btn-sm small">Regresar</a>
    </div>
    <br/>
    <div class="col-xl-12 col-lg-12 mx-auto">
        <table class="table table-striped table table-bordered" id="table_id">
            <thead class=" thead-dark ">
                <tr>
                    <th>Código</th>
                    <th>Cédula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    {% if not request.user.is_superuser %}
                    <th>Detalles</th>
                    {%endif%} {% if request.user.is_superuser %}
                    <th>Acciones</th>
                    {%endif%}
                </tr>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td class="mb-5 small">{{ item.codigo}}</td>
                    <td class="mb-5 small">{{ item.cedula}}</td>
                    <td class="mb-5 small">{{ item.nombre}}</td>
                    <td class="mb-5 small">{{ item.apellido}}</td>
                    {% if not request.user.is_superuser %}
                    <td class="mb-5 small">
                        <p class="profile-data">
                            <a href="{% url 'catalog:paciente_detail' item.id %}">Ver detalle</a>
                        </p>
                    </td>
                    {%endif%} {% if request.user.is_superuser %}
                    <td class="mb-5 small">
                        <a href="{% url 'catalog:paciente_edit' item.id %}" class="btn btn-primary btn-circle btn-sm small"> <span>Editar</span></a>
                        <a href="{% url 'catalog:paciente_delete' item.id %} " class="btn btn-info btn-circle btn-sm small "> <span>Eliminar</span></a>

                    </td>
                    {%endif%}
                </tr> {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}